* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.calculator{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.display{
    text-align: right;
    background-color: #333333;
    color: white;
    padding: 10px;
    font-size: 32px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.box, .clear{
    flex-basis: 25%;
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
}

.box:hover, .double-box:hover, .operator:hover, .clear:hover {
    font-weight: bold;
}

.double-box{
    flex-basis: 50%;
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background-color: orange;
    cursor: pointer;
}

.operator{
    background-color: orange;
    cursor: pointer;
    flex-basis: 25%;
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
}

.history{
    margin: 30px auto 0 auto;
    overflow: scroll;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: center;
    padding: 16px;
}

th {
    background-color: orange;
    color: white;
}

tr:nth-child(even) {
    background-color: #d2d2d2;
}

@media screen and (max-width: 513px) {
    .box, .double-box, .operator {
        padding: 10px;
    }
    .history {
        width: 100%;
    }
 }